<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejs Templating</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js"></script>
  </head>
  <body>
    <!-- <h1>Todo Manager</h1> -->
    <!-- for reuse the created common ejs file like header and footer  -->
    <%- include("header.ejs") %>
    <br />
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>DueDate</th>
        <th>completed?</th>
      </tr>
      <% for(let i=0;i<allTodos.length; i++) { %>
        <tr>
          <td><%= allTodos[i].id %></td>
          <td><%= allTodos[i].title %></td>
          <td><%= allTodos[i].dueDate %></td>
          <td><%= allTodos[i].completed %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
